# Ignorer les fichiers temporaires se terminant par ~
*~
*.backup.*
.env
*.pyc
*.bak
*.bak.bak
*.bak.old
*.bis
*.log
clean.txt
logs.txt
database_readme.txt
data/
app/static/content_bak/
app/static/templates/
content/

*.pdf
*.ods
*.csv
papers/
static/uploads/
utils/
review*.csv
quick_check.py
scrape_sft_annuaire.py
todo.org
arxiv/
cert.pem
key.pem
*.patch
debug.txt
debug_messages.py
diagnostic_photos.py
droits_hal.py
instance/
migrations/
docker-compose.dev.yml
content-example/auto/
app/static/uploads/
app/entete.py
