# Ignorer les fichiers temporaires se terminant par ~
*~
*.backup.*
.env
*.pyc
*.bak
*.bak.bak
*.bak.old
*.bis
*.log
clean.txt
logs.txt
database_readme.txt
data/
app/static/content_bak/
app/static/templates/
content/*
!content/*.example

affiliations_export.csv
