title: "Le mot du comité d'organisation"
content: |
  Chaque année, la Société Française de Thermique organise un congrès afin de permettre à l'ensemble des thermiciens de se retrouver, d'exposer leurs travaux les plus récents, d'échanger et débattre autour de problématiques fondamentales ou appliquées, en lien avec l'industrie et la société. C'est aussi l'occasion de mettre en avant de jeunes thermiciens qui concourent au prix Biot-Fourier.
  Cette année, le congrès de la Société Française de Thermique 2026 s'installe à Nancy du 2 au 5 juin, organisé par le LEMTA, Laboratoire Énergies et Mécanique Théorique \& Appliquée, unité mixte de recherche du CNRS et de l'Université de Lorraine.
  Ces dernières années, les thèmes du congrès ont souvent reflété un ancrage territorial profond, associé aussi à des enjeux sociétaux et industriels. Nous n'y avons pas dérogé pour cette édition. Le thème de cette 34ème édition est « thermique \& décarbonation de l'industrie ». Par ce choix, le comité d'organisation local souhaite non seulement montrer l'intérêt que les thermiciens portent à la décarbonation, mais aussi montrer comment ce territoire historiquement industriel, au carrefour de l'Europe, est aussi résolument porteur d'innovations et acteur des transitions. Ici, des liens forts existent et existeront toujours entre l'industrie et les acteurs académiques lorrains. Le LEMTA, laboratoire de plus de 50 ans, est héritier de cette histoire et est fier de vous accueillir à Nancy.
  La Lorraine a été et reste un territoire minier, sidérurgique, profondément industriel et marqué par les industries lourdes. Rappelons que le fer de la tour Eiffel est sorti de ses entrailles ; c'est feu la société des hauts fourneaux, forges et aciéries de Pompey (10 km de Nancy) qui a fourni tout le fer extrait ici et nécessaire à la construction de la tour Eiffel, 6370 tonnes au total. Si la sidérurgie est encore forte en Lorraine, cette région d'industries lourdes possède aussi d'autres atouts qui permettent d'entrevoir un avenir industriel riche et renouvelé. Par le passé et jusqu'à aujourd'hui, l'Université de Lorraine et ses laboratoires de recherche dont le LEMTA, accompagnent la R\&D des entreprises, participant à l'amélioration et au contrôle des procédés.
  Les industries lourdes sont, par nature, des industries d'extraction et de transformation qui demandent une utilisation d'équipements massifs nécessitant des ressources énergétiques considérables, par conséquent très émettrices de CO2. ; diminuer les émissions représente des défis pour les sciences thermiques. Pour faire face aux enjeux climatiques, la décarbonation est une nécessité. Comment réduire nos émissions tout en conservant nos industries, nos emplois ? Au travers des conférences plénières, nous verrons que l'équation n'est pas facile à résoudre, que les laboratoires de recherche sont pleinement impliqués et que la thermique est bien souvent au cœur de ces problématiques qui demandent aussi de l'interdisciplinarité. Les sept conférences plénières programmées permettront de vous donner un aperçu de la dynamique engagée sur le chemin de la décarbonation, ses contraintes, ses nombreux défis auxquels les thermiciens sont confrontés :
  - Fabrice Lemoine (Université de Lorraine) "Décarboner l'industrie : challenges et leviers"
  - Akshay Bansal (ArcelorMittal R\&D) "Saisir l'efficacité énergétique des procédés comme moteur de la transition énergétique et de la décarbonation de l'industrie sidérurgique"
  - Rodolphe Vaillon (CNRS LAAS) "Batteries thermophotovoltaïques : principes et application à la décarbonation de l'industrie"
  - Anaïs Voy-Gillis \& Julien Luraschi (HUMENS-Novacarb) "Souveraineté énergétique et décarbonation industrielle : le cas Novacarb"
  - Christine Rousselle (Université d'Orléans) "Ammoniac comme vecteur énergétique et carburant"
  - Silvia Lasala (Université de Lorraine) "Améliorer l'efficacité des cycles thermodynamiques grâce à des fluides de travail réactifs"

  - Lionel Durantay (GE Vernova) "Décarbonation et électrification des services de compression"

  Des ateliers sont également au programme, en lien avec les groupes thématiques de la SFT ou en lien avec la thématique du congrès :
      • Hautes températures
      • METTI
      • Autour du PEPR SPLEEN
      • Low-tech

  Pour cette édition, nous avons reçu 133 propositions de résumés, 73 communications ont été acceptées pour publications dans les actes, 60 ont été retenues au titre de « work in progress ». C'est donc un total de 133 affiches autour desquelles vous pourrez discuter. Le conseil scientifique de la SFT a sélectionné 6 communications pour le prix Biot Fourier ; ces communications feront l'objet d'un numéro spécial de la revue Entropie.
  Nous remercions la Société Française de Thermique de nous avoir fait confiance pour organiser cette 34ème édition. Nous souhaitons à tous les congressistes des moments riches en partage, en discussion et nous espérons aussi que de nouvelles synergies vont s'opérer à l'issue du congrès.
  Le comité d'organisation, fier de vous accueillir dans cette ville à la croisée des savoirs et des industries, vous souhaite un excellent congrès 2026 !
  Vincent SCHICK et Michel GRADECK
  et l'ensemble du comité d'organisation local
